body {
    font-size:3em;
    font-family: Arial, Verdana, sans-serif;
    background: black;
}

.head {
    background-color:aqua;

    
}

header.head img {
    display:inline;
    width: 200px;
}

nav {
    background-color: black;
    padding:10px;   
    
}

ul li {
    display: inline-block;
    margin-right: 80px;
    color: white;
}

img {
    width:100%;
}

div {background-color: aqua;
    
    
}
.main {
    background-color: aqua;
    
    
}

h1 {
    text-indent: 30px;
    
}


p {
    height: 20%px;
    padding: 1em;
    overflow: hidden;
    float:left;
    box-sizing: border-box
    border:1px;
    width:30%
    
}

figure img{
    width:800px;
    padding:10px;
    float:none;
}

